body {
    margin:0px;
    padding: 0px;
    background-color:orangered;
}

.navegador {
   background-color: black;
   padding: 2em;
   font-size: 1em;
  
}
.banner_carrusel {
    width: 80%;
    margin: auto;
    margin-top:2em;
}

.tresimagenes {
    display: flex;
    margin: 3em;
    column-gap: 5em;
    margin-left: 10em;
    
}

.card-text {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    

}

footer {
    text-align: center;
    background-color:black;
    color:white;
    font-family: 'Courier New', Courier, monospace;
    
}

.card {
    height: 31rem;
    margin-top:2em;
    border: 2px solid black;

}

h1 {
    text-align: center;
    text-decoration: underline;
    color: whitesmoke;
    margin: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h4 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    text-decoration: underline;
}

.banner2 {
    width: 80%;
    margin: auto;
    margin-top:2em;
    margin-bottom: 3em;
}

.card1 {

    margin-left: 10em;
    max-height: 10em;
}

.imagenfrente {
    background-color:white;
    width: 80%;
    margin-left:10em;
    margin-bottom: 3em;
    padding:1em;
    border:2px solid black;
}

.parrafo1 {
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    text-align: justify;
    margin: 1em;
    padding-top: 1em;
}

.parrafo2 {
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    text-align: justify;
    margin: 1em;
    
    
}

.parrafo3 {
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    text-align: justify;
    margin:1em;
    padding-top:1em;
    
}

h5 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
    text-transform: uppercase;
}

